.navbar{
    background-color: #155f82;
    width: 90%;  
    margin: auto;
    display: flex;
    flex-direction: column;
}


.nav-custom{
    display:flex;

}
.nav-brand{
    justify-content: flex-start;
}
.logo{
    width: 70px;
    height: 70px;
}
nav .nav-link{
    color: white !important;
}

.nav-link:hover{
    color: red;
    text-decoration: underline;
}
.active{
    color: red !important;
    font-size: 1.1em;
    font-weight: bolder;
}
.navbar-collapse{
    margin: auto;
    justify-content: center;

}
.nav-item{
    margin: 2px 25px;
    color: white !important;
}


.writing-logo{
    width: 90px;
    height: 50px;
    margin: 0 5px;
    
}
.navbar-brand{
    width: fit-content;
}



@media screen and (max-width: 767px){

    .navbar{
        width: 100%;
        margin-top: 0;
    }
}